<div class="card-panel hoverable z-depth-5">
<div class="block_contents">
<div id="whats_contents">
<h2 class="Pagetitle">Kashima Antlers DATE ANALYSISとは？</h2>

<div class="read">「Kashima Antlers DATE ANALYSIS」は、鹿島アントラーズの試合の様々なデータを分析するサイトです。</div>

<div class="Notes">
<div class="ttl">鹿島アントラーズ</div>
<div class="txt">日本の茨城県鹿嶋市、神栖市、潮来市、行方市、鉾田市をホームタウンとする[1]、日本プロサッカーリーグ（Jリーグ）に加盟するプロサッカークラブ。<br>
国内の3大タイトル（J1リーグ、Jリーグカップ、天皇杯）において、Jリーグクラブ最多の19冠かつ3つ全てのタイトルにおいて最多優勝回数を誇る。A3チャンピオンズカップやスルガ銀行チャンピオンシップ、スーパーカップを含めると、最多の28冠である。また、2000年度にはJリーグ史上初の国内三冠を達成し、さらに2007年度から2009年度にかけては、Jリーグ史上初にして唯一となる3連覇を達成している。</div>

</div>

<div class="title"><p class="indentsign">グラフでのデータの可視化</p></div>
<div class="Item_Description">チーム内得点ランキング、順位推移、支配率などをグラフを使ってグラフィカルに表示しています。
</div>
<div class="title"><p class="indentsign">詳細なデータ表示</p></div>
<div class="Item_Description">得点パターン、支配率、出場時間などJリーグの公式サイトにはない、詳細なデータを表示しています。

</div>
<div class="title"><p class="indentsign">随時バージョンアップ対応中</p></div>
<div class="Item_Description">日々、ユーザーにサイトを楽しんで頂けるようにバージョンアップしていきます。SNS連携やマニアックなデータ分析など新しいコンテンツを追加していきます。追加して欲しい機能などサイトに対するご要望がございましたら、ご連絡頂けると幸いです。
</div>
</div>
</div>
</div>