// Place all the styles related to the score_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-size: 14px;
}

#wrapper {
  overflow: hidden;
}

div#graph_zone {
  float: left;
  width: 63%;
}

aside {
  width: 35%;
}

#comparison_zone tbody th {
  background-color: #e5e5e5;
  width: 48%;
}

.fa-black {color: black}
.fa-red {color: red}
.fa-gray {color: gray}
.fa-blue {color: blue}
.fa-sort-padding {padding-left: 5px}
.fa-title-padding {padding-right: 5px}

#games tr {
  cursor:pointer;
}

#games tr:hover {
  text-shadow: 1px 1px 2px #427388;
  filter:alpha(opacity=80);
  opacity:0.8;

}

.card-panel {
   padding: 15px 15px 5px 15px !important;
}

span.label {
    color: #fff;
    background-color: #F44336;
    border-radius: 6px;
    min-width: 3rem;
    padding: 4px 13px;
    text-align: center;
    font-size: 1rem;
    line-height: 22px;
    height: 22px;
    box-sizing: border-box;
}