// Place all the styles related to the score_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-size: 14px;
    background-image: image-url("blue_tile.jpg")
}

div#main {
  padding-top: 23px;
  padding-bottom: 45px;
}

#wrapper {
  overflow: hidden;
}

div#graph_zone {
  float: left;
  width: 63%;

  div.card-panel {
     height: 390px;
     border-radius: 25px;
  }
}

@media (max-width: 920px) {
  #graph_zone, .right {
    width: 100%!important;
  }
}

canvas#leage_rank_graph {
  height: 270px !important;
}

canvas#visitors_rank_graph {
  height: 270px !important;
}

aside {
  width: 35%;

  div.card-panel {
     height: 390px;
     border-radius: 25px;
  }
}

#comparison_zone tbody th {
  background-color: #e5e5e5;
  width: 48%;
}

#comparison_detail tbody th {
  border-radius: 42px;
}

td.member {
  color: #FFFFFF;
  background-color: #F44336;
  border-radius: 50px 0px 0px 50px / 50px 0px 0px 50px !important;
}

.fa-black {color: black}
.fa-red {color: red}
.fa-gray {color: gray}
.fa-blue {color: blue}
.fa-sort-padding {padding-left: 5px}
.fa-title-padding {padding-right: 5px}

#games tr {
  cursor:pointer;
}

#games tr:hover {
  background-color: #dcdcdc;
  opacity: 0.8;
}

ul#nav-mobile a:hover {
  background-color: #5364d1
}
.page-footer a:hover {
  color: #00bcd4 !important;
}

.card-panel {
  padding: 15px 15px 5px 15px !important;
}

span.label {
  color: #fff;
  background-color: #ad1457;
  border-radius: 10px;
  min-width: 3rem;
  padding: 4px 13px;
  text-align: center;
  line-height: 22px;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

.information_title {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.1rem;
  margin: 5px 0px;
}

div.next_game {
  font-family: 'Anton', sans-serif;

  span {
    font-size: 1.1rem;
    text-decoration: underline;
  }
}

#page-top {
  position: fixed;
  right: 15px;
  font-size: 77%;
}
#page-top a {
  background: #666;
  text-decoration: none;
  color: #fff;
  width: 80px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 40px;
  opacity: 0.7;
}
#page-top a:hover {
  text-decoration: none;
  background: #999;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.panel-opacity {
  opacity: 0.9;
}

.table-div-border {
  border: 3px solid #7986cb;
  border-radius: 10px !important;
}